# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
.mrs/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python tooling
.pytest_cache/
.mypy_cache/

# Local environment variables
.env

# Build / distribution
build/
dist/
*.egg-info/

# Generated data
data/processed/

# Logs
*.log